<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Farmer's Fridge</title>
</head>
<body>
	<h1>{{title}}</h1>
	<button id="button">{{button}}</button>

	<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
	<script>
		(function($) {
			$(function() {
				$('#button').click(function() {
					var time = new Date().toISOString();
					$.post('/api/v1/layouts?id={{id}}&time=' + time + '&header={{title}}', function(data) {
					});
				});
			});
		})(jQuery);
	</script>
</body>
</html>
